*{
	font-family: "游ゴシック体","Yu Gothic";
  text-align: center;
  text-decoration: none;
}
body{
  header {
    display: flex;
    justify-content: center;
    div.header-wrap {
      position: relative;
      z-index: 100;
      width: 1050px;
      margin: 0 auto;
      background-color: rgba(37, 52, 54, 0.9);
      height: 70px;
      display: flex;
      align-items: center;
      @media screen and (max-width:1050px){
        width: 100%;
        justify-content: center;
      }
      img {
        justify-content:flex-start;
        position: relative;
        top: -3px;
        margin-left: 20px;
        @media screen and (max-width:1050px){
          margin-left: 0;
          display: none;
        }
        @media screen and (max-width:770px){
          display: flex;
        }
      }
      nav {
        height: 100%;
        position: relative;
        left: 122px;
        @media screen and (max-width:1050px){
          // display: none;
          right: 0;
        }
        @media screen and (max-width:770px){
          display: none;
        }
        ul {
          li {
            display: inline-block;
            a {
              line-height: 70px;
              padding: 15px 0;
              color: #FFFFFF;
              text-decoration: none;
              margin-left: 25.31px;
              font-size: 14px;
            }
            .features-button{
              color: #008700; 
              &::after{
                content: "";
                position: absolute;
                left: 67px;
                bottom: 0;
                border-bottom: 10px solid #008700;
                width: 130px;
              }
            }
            .contact-button{
              background-color: rgba(255, 98, 0, 1);
              padding: 24px 30px 25px 25px;
              &:hover{
                background-color: #ffffff;
                color: rgba(255, 98, 0, 1);
              }
              i{
                margin-left: 12px;
              }
            }
          }
        }
      }
    }
  }
  main{
    div.top{
      position: relative;
      top: -70px;
      height: 300px;
      background-image: url("../images/配管BOX.png");
      background-size: cover;
      div.topBG{
        background-color: rgba(32, 48, 50, 0.5);
        height: 100%;
        div.top-wrap{
          h1{
            position: relative;
            top: 170px;
            font-size: 32px;
            font-weight: bold;
            line-height: 54px;
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
    div.features-summary {
      display: block;
      padding-bottom: 80px;
      @media screen and (max-width:482px){
        height: auto;
        width: 90%;
        margin: 0 auto;
      }
      div.features-summary-wrap {
        h2 {
          font-size: 32px;
          line-height: 54px;
          color: rgba(0, 0, 0, 1);
          margin-top: 9px;
          @media screen and (max-width:482px){
            width: 90%;
          }
        }
        p {
          font-size: 16px;
          line-height: 27px;
          margin-top: 50px;
        }
      }
    }
    div.four-features-detail {
      div.feature1-detail {
        height: 514px;
        background-color: rgba(245, 245, 245, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width:1054px){
          height: auto;
          flex-wrap: wrap;
          padding-top: 80px;
          padding-bottom: 80px;
        }
        div.text-wrap {
          p {
            text-align: left;
            font-size: 16px;
            width: 475px;
            height: 151px;
            line-height: 27px;
            position: relative;
            bottom: 30px;
            @media screen and (max-width:475px){
              width: 80%;
              height: auto;
              margin: 0 auto;
            }
          }
          .big-number{
            color: rgba(204, 231, 204, 1);
            font-size: 120px;
            font-family: "Open Sans";
            font-weight: bold;
            font-style: italic;
            line-height: 163px;
            z-index: 1;
            position: relative;
            top: 0;
            left: 0;
          }
          h3 {
            font-size: 32px;
            line-height: 54px;
            font-weight: bold;
            z-index: 10;
            position: relative;
            bottom: 75px;
            margin-left: 30px;
            @media screen and (max-width:476px){
              margin: 0 auto;
              width: 90%;
            }
          }
        }
        img {
          margin-left: 52px;
          width: 525px;
          height: 354px;
          @media screen and (max-width:578px){
            width: 80%;
            height: auto;
            margin-left: 0;
          }
        }
      }
      div.feature2-detail {
        height: 514px;
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width:1054px){
          height: auto;
          flex-wrap: wrap;
          padding-top: 80px;
          padding-bottom: 80px;
        }
        .sp{
          display: none;
        }
        @media screen and (max-width:1054px){
          .pc{
            display: none;
          }
          .sp{
            display: inline-block;
          }
        }
        div.text-wrap {
          p {
            text-align: left;
            font-size: 16px;
            width: 475px;
            height: 151px;
            line-height: 27px;
            position: relative;
            bottom: 30px;
            @media screen and (max-width:475px){
              width: 80%;
              height: auto;
              margin: 0 auto;
            }
          }
          .big-number{
            color: rgba(204, 231, 204, 1);
            font-size: 120px;
            font-family: "Open Sans";
            font-weight: bold;
            font-style: italic;
            line-height: 163px;
            z-index: 1;
            position: relative;
            top: 0;
            left: 0;
          }
          h3 {
            font-size: 32px;
            line-height: 54px;
            font-weight: bold;
            z-index: 10;
            position: relative;
            bottom: 75px;
            margin-left: 30px;
            text-align: left;
            @media screen and (max-width:476px){
              width: 70%;
              margin: 0 auto;
            }
          }
        }
        img {
          margin-right: 52px;
          width: 525px;
          height: 354px;
          @media screen and (max-width:578px){
            width: 80%;
            height: auto;
            margin-left: 0;
            margin: 0 auto;
          }
        }
      }
      div.feature3-detail {
        height: 514px;
        background-color: rgba(245, 245, 245, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width:1054px){
          height: auto;
          flex-wrap: wrap;
          padding-top: 80px;
          padding-bottom: 80px;
        }
        div.text-wrap {
          p {
            text-align: left;
            font-size: 16px;
            width: 475px;
            height: 151px;
            line-height: 27px;
            position: relative;
            bottom: 30px;
            @media screen and (max-width:475px){
              width: 80%;
              height: auto;
              margin: 0 auto;
            }
          }
          .big-number{
            color: rgba(204, 231, 204, 1);
            font-size: 120px;
            font-family: "Open Sans";
            font-weight: bold;
            font-style: italic;
            line-height: 163px;
            z-index: 1;
            position: relative;
            top: 0;
            left: 0;
          }
          h3 {
            font-size: 32px;
            line-height: 54px;
            font-weight: bold;
            z-index: 10;
            position: relative;
            bottom: 75px;
            margin-left: 30px;
            text-align: left;
            @media screen and (max-width:476px){
              margin: 0 auto;
              width: 70%;
            }
          }
        }
        img {
          margin-left: 52px;
          width: 525px;
          height: 354px;
          @media screen and (max-width:578px){
            width: 80%;
            height: auto;
            margin-left: 0;
          }
        }
      }
      div.feature4-detail {
        background-color: rgba(255, 255, 255, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width:1054px){
          height: auto;
          flex-wrap: wrap;
          padding-top: 80px;
          padding-bottom: 80px;
        }
        .sp{
          display: none;
        }
        @media screen and (max-width:1054px){
          .pc{
            display: none;
          }
          .sp{
            display: inline-block;
          }
        }
        div.text-wrap {
          p {
            text-align: left;
            font-size: 16px;
            width: 475px;
            height: 151px;
            line-height: 27px;
            position: relative;
            bottom: 30px;
            @media screen and (max-width:475px){
              width: 80%;
              height: auto;
              margin: 0 auto;
            }
          }
          .big-number{
            color: rgba(204, 231, 204, 1);
            font-size: 120px;
            font-family: "Open Sans";
            font-weight: bold;
            font-style: italic;
            line-height: 163px;
            z-index: 1;
            position: relative;
            top: 0;
            left: 0;
          }
          h3 {
            font-size: 32px;
            line-height: 54px;
            font-weight: bold;
            z-index: 10;
            position: relative;
            bottom: 75px;
            margin-left: 30px;
            text-align: left;
            @media screen and (max-width:476px){
              width: 70%;
              margin: 0 auto;
            }
          }
        }
        img {
          margin-top: 80px;
          margin-right: 52px;
          width: 525px;
          height: 354px;
          margin-bottom: 150px;
          @media screen and (max-width:578px){
            width: 80%;
            height: auto;
            margin-left: 0;
            margin: 0 auto;
          }
        }
      }
    }
    div.contact {
      background-image: url("../images/フッターCTA_背景@.png");
      background-size: cover;
      width: 100%;
      display: flex;
      height: 312px;
      @media screen and (max-width:451px){
        height: 400px;
      }
      div.contactBG{
        background-color: rgba(29, 37, 41, 0.9);
        background-size: cover;
        width: 480px;
        height: 80%;
        margin: 0 auto;
        align-items: center;
        position: relative;
        top: 30px;
        @media screen and (max-width:480px){
          width: 100%;
        }
        display: flex;
        div.contact-wrap {
          height: auto;
          align-items: center;
          position: relative;
          // top: 32px;
          h2 {
            font-family:  "游ゴシック体","Yu Gothic";
            font-weight: bold;
            font-size: 24px;
            color: rgba(255, 255, 255, 1);
            @media screen and (max-width:362px){
              width: 70%;
              margin: 0 auto;
            }
          }
          p {
            line-height: 27px;
            width: 81.87%;
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 30px;
            font-family:  "游ゴシック体","Yu Gothic";
            color: rgba(255, 255, 255, 1);
            font-size: 16px;
            margin-bottom: 40px;
          }
          a.contact-button {
            font-family:  "游ゴシック体","Yu Gothic";
            background-color: #FF6200;
            color: #FFFFFF;
            padding: 17.35px 70px 16.65px 68px;
            &:hover{
            background-color: #ffffff;
            color: rgba(255, 98, 0, 1);
          }
            i{
              margin-left: 13px;
            }
          }
        }
      }
    }
  }
  footer {
    div.footer-wrap {
      height: 169px;
      display: flex;
      align-items: center;
        @media screen and(max-width:1215px){
          display: flex;
          justify-content: center;
        }
        div.company-logo {
        img {
          padding-left: 115px;
          @media screen and(max-width:1215px){
            padding: 0;
            margin-left: 30px;
            width: 90%;
          }
        }
        p {
          color: rgba(30, 45, 47, 1);
          margin-left: 75px;
          line-height: 24px;
          font-size: 14px;
          @media screen and(max-width:1215px){
            margin: 0;
          }
        }
      }
      nav {
        margin-left: 66px;
        width: 100%;
        margin-right: 115px;
        @media screen and (max-width:1215px){
          display: none;
        }
        ul {
          display: flex;
          justify-content: space-between;
          li {
            // margin-right: 40px;
            display: inline-block;
            a {
              color: rgba(30, 45, 47, 1);
            }
          }
        }
      }
    }
    div.copyright {
      border-top: 1px dotted #000;
      height: 33px;
      p {
        line-height: 33px;
        font-size: 12px;
        font-family: serif;
        font-weight: normal;
      }
    }
  }
}