@charset "UTF-8";
* {
  font-family: "游ゴシック体","Yu Gothic";
  text-align: center;
  text-decoration: none;
}

body header {
  display: flex;
  justify-content: center;
}

body header div.header-wrap {
  position: relative;
  z-index: 100;
  width: 1050px;
  margin: 0 auto;
  background-color: rgba(37, 52, 54, 0.9);
  height: 70px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1050px) {
  body header div.header-wrap {
    width: 100%;
    justify-content: center;
  }
}

body header div.header-wrap img {
  justify-content: flex-start;
  position: relative;
  top: -3px;
  margin-left: 20px;
}

@media screen and (max-width: 1050px) {
  body header div.header-wrap img {
    margin-left: 0;
    display: none;
  }
}

@media screen and (max-width: 770px) {
  body header div.header-wrap img {
    display: flex;
  }
}

body header div.header-wrap nav {
  height: 100%;
  position: relative;
  left: 122px;
}

@media screen and (max-width: 1050px) {
  body header div.header-wrap nav {
    right: 0;
  }
}

@media screen and (max-width: 770px) {
  body header div.header-wrap nav {
    display: none;
  }
}

body header div.header-wrap nav ul li {
  display: inline-block;
}

body header div.header-wrap nav ul li a {
  line-height: 70px;
  padding: 15px 0;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 25.31px;
  font-size: 14px;
}

body header div.header-wrap nav ul li .features-button {
  color: #008700;
}

body header div.header-wrap nav ul li .features-button::after {
  content: "";
  position: absolute;
  left: 67px;
  bottom: 0;
  border-bottom: 10px solid #008700;
  width: 130px;
}

body header div.header-wrap nav ul li .contact-button {
  background-color: #ff6200;
  padding: 24px 30px 25px 25px;
}

body header div.header-wrap nav ul li .contact-button:hover {
  background-color: #ffffff;
  color: #ff6200;
}

body header div.header-wrap nav ul li .contact-button i {
  margin-left: 12px;
}

body main div.top {
  position: relative;
  top: -70px;
  height: 300px;
  background-image: url("../images/配管BOX.png");
  background-size: cover;
}

body main div.top div.topBG {
  background-color: rgba(32, 48, 50, 0.5);
  height: 100%;
}

body main div.top div.topBG div.top-wrap h1 {
  position: relative;
  top: 170px;
  font-size: 32px;
  font-weight: bold;
  line-height: 54px;
  color: white;
}

body main div.features-summary {
  display: block;
  padding-bottom: 80px;
}

@media screen and (max-width: 482px) {
  body main div.features-summary {
    height: auto;
    width: 90%;
    margin: 0 auto;
  }
}

body main div.features-summary div.features-summary-wrap h2 {
  font-size: 32px;
  line-height: 54px;
  color: black;
  margin-top: 9px;
}

@media screen and (max-width: 482px) {
  body main div.features-summary div.features-summary-wrap h2 {
    width: 90%;
  }
}

body main div.features-summary div.features-summary-wrap p {
  font-size: 16px;
  line-height: 27px;
  margin-top: 50px;
}

body main div.four-features-detail div.feature1-detail {
  height: 514px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1054px) {
  body main div.four-features-detail div.feature1-detail {
    height: auto;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

body main div.four-features-detail div.feature1-detail div.text-wrap p {
  text-align: left;
  font-size: 16px;
  width: 475px;
  height: 151px;
  line-height: 27px;
  position: relative;
  bottom: 30px;
}

@media screen and (max-width: 475px) {
  body main div.four-features-detail div.feature1-detail div.text-wrap p {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
}

body main div.four-features-detail div.feature1-detail div.text-wrap .big-number {
  color: #cce7cc;
  font-size: 120px;
  font-family: "Open Sans";
  font-weight: bold;
  font-style: italic;
  line-height: 163px;
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
}

body main div.four-features-detail div.feature1-detail div.text-wrap h3 {
  font-size: 32px;
  line-height: 54px;
  font-weight: bold;
  z-index: 10;
  position: relative;
  bottom: 75px;
  margin-left: 30px;
}

@media screen and (max-width: 476px) {
  body main div.four-features-detail div.feature1-detail div.text-wrap h3 {
    margin: 0 auto;
    width: 90%;
  }
}

body main div.four-features-detail div.feature1-detail img {
  margin-left: 52px;
  width: 525px;
  height: 354px;
}

@media screen and (max-width: 578px) {
  body main div.four-features-detail div.feature1-detail img {
    width: 80%;
    height: auto;
    margin-left: 0;
  }
}

body main div.four-features-detail div.feature2-detail {
  height: 514px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1054px) {
  body main div.four-features-detail div.feature2-detail {
    height: auto;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

body main div.four-features-detail div.feature2-detail .sp {
  display: none;
}

@media screen and (max-width: 1054px) {
  body main div.four-features-detail div.feature2-detail .pc {
    display: none;
  }
  body main div.four-features-detail div.feature2-detail .sp {
    display: inline-block;
  }
}

body main div.four-features-detail div.feature2-detail div.text-wrap p {
  text-align: left;
  font-size: 16px;
  width: 475px;
  height: 151px;
  line-height: 27px;
  position: relative;
  bottom: 30px;
}

@media screen and (max-width: 475px) {
  body main div.four-features-detail div.feature2-detail div.text-wrap p {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
}

body main div.four-features-detail div.feature2-detail div.text-wrap .big-number {
  color: #cce7cc;
  font-size: 120px;
  font-family: "Open Sans";
  font-weight: bold;
  font-style: italic;
  line-height: 163px;
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
}

body main div.four-features-detail div.feature2-detail div.text-wrap h3 {
  font-size: 32px;
  line-height: 54px;
  font-weight: bold;
  z-index: 10;
  position: relative;
  bottom: 75px;
  margin-left: 30px;
  text-align: left;
}

@media screen and (max-width: 476px) {
  body main div.four-features-detail div.feature2-detail div.text-wrap h3 {
    width: 70%;
    margin: 0 auto;
  }
}

body main div.four-features-detail div.feature2-detail img {
  margin-right: 52px;
  width: 525px;
  height: 354px;
}

@media screen and (max-width: 578px) {
  body main div.four-features-detail div.feature2-detail img {
    width: 80%;
    height: auto;
    margin-left: 0;
    margin: 0 auto;
  }
}

body main div.four-features-detail div.feature3-detail {
  height: 514px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1054px) {
  body main div.four-features-detail div.feature3-detail {
    height: auto;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

body main div.four-features-detail div.feature3-detail div.text-wrap p {
  text-align: left;
  font-size: 16px;
  width: 475px;
  height: 151px;
  line-height: 27px;
  position: relative;
  bottom: 30px;
}

@media screen and (max-width: 475px) {
  body main div.four-features-detail div.feature3-detail div.text-wrap p {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
}

body main div.four-features-detail div.feature3-detail div.text-wrap .big-number {
  color: #cce7cc;
  font-size: 120px;
  font-family: "Open Sans";
  font-weight: bold;
  font-style: italic;
  line-height: 163px;
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
}

body main div.four-features-detail div.feature3-detail div.text-wrap h3 {
  font-size: 32px;
  line-height: 54px;
  font-weight: bold;
  z-index: 10;
  position: relative;
  bottom: 75px;
  margin-left: 30px;
  text-align: left;
}

@media screen and (max-width: 476px) {
  body main div.four-features-detail div.feature3-detail div.text-wrap h3 {
    margin: 0 auto;
    width: 70%;
  }
}

body main div.four-features-detail div.feature3-detail img {
  margin-left: 52px;
  width: 525px;
  height: 354px;
}

@media screen and (max-width: 578px) {
  body main div.four-features-detail div.feature3-detail img {
    width: 80%;
    height: auto;
    margin-left: 0;
  }
}

body main div.four-features-detail div.feature4-detail {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1054px) {
  body main div.four-features-detail div.feature4-detail {
    height: auto;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

body main div.four-features-detail div.feature4-detail .sp {
  display: none;
}

@media screen and (max-width: 1054px) {
  body main div.four-features-detail div.feature4-detail .pc {
    display: none;
  }
  body main div.four-features-detail div.feature4-detail .sp {
    display: inline-block;
  }
}

body main div.four-features-detail div.feature4-detail div.text-wrap p {
  text-align: left;
  font-size: 16px;
  width: 475px;
  height: 151px;
  line-height: 27px;
  position: relative;
  bottom: 30px;
}

@media screen and (max-width: 475px) {
  body main div.four-features-detail div.feature4-detail div.text-wrap p {
    width: 80%;
    height: auto;
    margin: 0 auto;
  }
}

body main div.four-features-detail div.feature4-detail div.text-wrap .big-number {
  color: #cce7cc;
  font-size: 120px;
  font-family: "Open Sans";
  font-weight: bold;
  font-style: italic;
  line-height: 163px;
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
}

body main div.four-features-detail div.feature4-detail div.text-wrap h3 {
  font-size: 32px;
  line-height: 54px;
  font-weight: bold;
  z-index: 10;
  position: relative;
  bottom: 75px;
  margin-left: 30px;
  text-align: left;
}

@media screen and (max-width: 476px) {
  body main div.four-features-detail div.feature4-detail div.text-wrap h3 {
    width: 70%;
    margin: 0 auto;
  }
}

body main div.four-features-detail div.feature4-detail img {
  margin-top: 80px;
  margin-right: 52px;
  width: 525px;
  height: 354px;
  margin-bottom: 150px;
}

@media screen and (max-width: 578px) {
  body main div.four-features-detail div.feature4-detail img {
    width: 80%;
    height: auto;
    margin-left: 0;
    margin: 0 auto;
  }
}

body main div.contact {
  background-image: url("../images/フッターCTA_背景@.png");
  background-size: cover;
  width: 100%;
  display: flex;
  height: 312px;
}

@media screen and (max-width: 451px) {
  body main div.contact {
    height: 400px;
  }
}

body main div.contact div.contactBG {
  background-color: rgba(29, 37, 41, 0.9);
  background-size: cover;
  width: 480px;
  height: 80%;
  margin: 0 auto;
  align-items: center;
  position: relative;
  top: 30px;
  display: flex;
}

@media screen and (max-width: 480px) {
  body main div.contact div.contactBG {
    width: 100%;
  }
}

body main div.contact div.contactBG div.contact-wrap {
  height: auto;
  align-items: center;
  position: relative;
}

body main div.contact div.contactBG div.contact-wrap h2 {
  font-family: "游ゴシック体","Yu Gothic";
  font-weight: bold;
  font-size: 24px;
  color: white;
}

@media screen and (max-width: 362px) {
  body main div.contact div.contactBG div.contact-wrap h2 {
    width: 70%;
    margin: 0 auto;
  }
}

body main div.contact div.contactBG div.contact-wrap p {
  line-height: 27px;
  width: 81.87%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "游ゴシック体","Yu Gothic";
  color: white;
  font-size: 16px;
  margin-bottom: 40px;
}

body main div.contact div.contactBG div.contact-wrap a.contact-button {
  font-family: "游ゴシック体","Yu Gothic";
  background-color: #FF6200;
  color: #FFFFFF;
  padding: 17.35px 70px 16.65px 68px;
}

body main div.contact div.contactBG div.contact-wrap a.contact-button:hover {
  background-color: #ffffff;
  color: #ff6200;
}

body main div.contact div.contactBG div.contact-wrap a.contact-button i {
  margin-left: 13px;
}

body footer div.footer-wrap {
  height: 169px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1215px) {
  body footer div.footer-wrap {
    display: flex;
    justify-content: center;
  }
}

body footer div.footer-wrap div.company-logo img {
  padding-left: 115px;
}

@media screen and (max-width: 1215px) {
  body footer div.footer-wrap div.company-logo img {
    padding: 0;
    margin-left: 30px;
    width: 90%;
  }
}

body footer div.footer-wrap div.company-logo p {
  color: #1e2d2f;
  margin-left: 75px;
  line-height: 24px;
  font-size: 14px;
}

@media screen and (max-width: 1215px) {
  body footer div.footer-wrap div.company-logo p {
    margin: 0;
  }
}

body footer div.footer-wrap nav {
  margin-left: 66px;
  width: 100%;
  margin-right: 115px;
}

@media screen and (max-width: 1215px) {
  body footer div.footer-wrap nav {
    display: none;
  }
}

body footer div.footer-wrap nav ul {
  display: flex;
  justify-content: space-between;
}

body footer div.footer-wrap nav ul li {
  display: inline-block;
}

body footer div.footer-wrap nav ul li a {
  color: #1e2d2f;
}

body footer div.copyright {
  border-top: 1px dotted #000;
  height: 33px;
}

body footer div.copyright p {
  line-height: 33px;
  font-size: 12px;
  font-family: serif;
  font-weight: normal;
}
