*{
  text-align: center;
  text-decoration: none;
	font-family: "游ゴシック体","Yu Gothic";
}
header {
	display: flex;
	justify-content: center;
	div.header-wrap {
		position: relative;
		z-index: 100;
		width: 1050px;
		margin: 0 auto;
		background-color: rgba(37, 52, 54, 0.9);
		height: 70px;
		display: flex;
    align-items: center;
		@media screen and (max-width:1050px){
			width: 100%;
			justify-content: center;
		}
		img {
			justify-content:flex-start;
			position: relative;
			top: -3px;
			margin-left: 20px;
			@media screen and (max-width:1050px){
				margin-left: 0;
				display: none;
			}
			@media screen and (max-width:770px){
				display: flex;
			}
		}
		nav {
      height: 100%;
      position: relative;
      left: 122px;
			@media screen and (max-width:1050px){
				// display: none;
				right: 0;
			}
			@media screen and (max-width:770px){
				display: none;
			}
			ul {
				li {
					display: inline-block;
					a {
						line-height: 70px;
						padding: 15px 0;
						color: #FFFFFF;
						text-decoration: none;
						margin-left: 25.31px;
						font-size: 14px;
					}
					.achievements-button{
						color: #008700; 
						&::after{
							content: "";
							position: absolute;
							left: 454px;
							bottom: 0;
							border-bottom: 10px solid #008700;
							width: 96px;
						}
					}
					.contact-button{
						background-color: rgba(255, 98, 0, 1);
						padding: 24px 30px 25px 25px;
						&:hover{
							background-color: #ffffff;
							color: rgba(255, 98, 0, 1);
						}
						i{
							margin-left: 12px;
						}
					}
				}
			}
		}
	}
}
main {
	div.top{
    position: relative;
    top: -70px;
    height: 300px;
    background-image: url("../images/配管BOX.png");
    background-size: cover;
    div.topBG{
      background-color: rgba(32, 48, 50, 0.5);
      height: 100%;
      div.top-wrap{
        h1{
          position: relative;
          top: 170px;
          font-size: 32px;
          font-weight: bold;
          line-height: 1.68;
          color: rgba(255, 255, 255, 1);
        }
      }
      img{
        width: 249px;
        height: 53px;
        z-index: 20;
        padding-top: 1000px;
      }
    }
  }
	div.achievement-content {
    height: auto;
    position: relative;
    top: -70px;
		div.achievement-path {
      margin-top: 13px;
      margin-left: 8.9%;
      @media screen and (max-width:338px){
        margin-left: 0;
      }
			p {
        color: #B4B4B4;
        font-weight: bold;
        text-align: left;
        a {
          font-weight: normal;
          margin: 0 10px;
          color: #253436;
          font-size: 14px;
          line-height: 1.35;
          font-family: Avenir Next;
          font-style: Regular;
				}
			}
		}
		div.achievement-text-wrap {
			p {
        margin-top: 80px;
        font-size: 16px;
        line-height: 1.68;
        margin-bottom: 40px;
        color: #253436;
        &::after{
          content:" ";
          border-bottom: 1px dotted #253436;
          width: 279px;
          display: block;
          margin: 0 auto;
          margin-top: 15px;
        }
			}
			h2 {
        font-weight: bold;
        font-size: 18px;
        line-height: 1.72;
        color: #253436;
        display: flex;
        justify-content: center;
        text-align: left;
			}
		}
		div.achievement-image {
      display: flex;
      justify-content: center;
      align-items: center;
			a.pre-button {
        img {
          width: 51px;
          height: 51px;
        }
			}
			img {
        margin: 30px 50px 0 50px;
        width: 55%;
        height: 22.7%;
        @media screen and (max-width:898px){
          margin: 0;
          margin-top: 30px;
        }
      }
      a.next-button{
        img{
          width: 51px;
          height: 51px;
        }
      }
      margin-bottom: 55px;
		}
		div.data {
      width: 55%;
      @media screen and (max-width:525px){
        width: 100%;
      }
      margin: 0 auto;
      h3 {
        font-size: 20px;
        line-height: 1.7;
        color: #253436;
        text-align: left;
        margin-bottom: 16px;
			}
			div.data-content {
        @media screen and (max-width:525px){
          display: flex;
          flex-wrap: wrap;
          display: inline-block;
          width: 100%;
        }
        p.data-top, .data-center, .data-last {
          display: flex;
          align-items: center;
          text-align: left;
          font-size: 16px;
          line-height: 1.66;
          color: #3E3E3E;
          height: 55px;
					span {
            color: #3E3E3E;
            line-height: 1.68;
            width: 131px;
            text-align: left;
            padding-left: 27px;
          }
        }
        p.data-top{
          background-color: #F5F5F5;
          border-top: 1px solid #9D9D9D;
          border-bottom: 1px dotted #253436;
        }
				p.data-last {
          border-top: 1px solid #9D9D9D;
          background-color: #F5F5F5;
          border-bottom: 1px dotted #253436;

				}
			}
		}
		a.detail-button {
      background-color: #253436;
			color: #FFFFFF;
			font-size: 16px;
			padding: 16.65px 80px 17.35px 74.5px;
			margin-bottom: 120px;
      display: inline-block;
			margin-top: 40px;
			&:hover{
				background-color: rgba(0, 135, 0, 1);
				color: #ffffff;
			}
			img{
				width: 20px;
				height: 20px;
				position: relative;
				top: 4px;
				left: 7px;
			}
		}
	}
  div.contact {
    background-image: url("../images/フッターCTA_背景@.png");
    background-size: cover;
    width: 100%;
    display: flex;
    height: 312px;
    @media screen and (max-width:451px){
      height: 400px;
    }
    div.contactBG{
      background-color: rgba(29, 37, 41, 0.9);
      background-size: cover;
      width: 480px;
      height: 80%;
      margin: 0 auto;
      align-items: center;
      position: relative;
      top: 30px;
      @media screen and (max-width:480px){
        width: 100%;
      }
      display: flex;
      div.contact-wrap {
        height: auto;
        align-items: center;
        position: relative;
        // top: 32px;
        h2 {
          font-family:  "游ゴシック体","Yu Gothic";
          font-weight: bold;
          font-size: 24px;
          color: rgba(255, 255, 255, 1);
          @media screen and (max-width:362px){
            width: 70%;
            margin: 0 auto;
          }
        }
        p {
          line-height: 27px;
          width: 81.87%;
          margin: 0 auto;
          margin-top: 30px;
          margin-bottom: 30px;
          font-family:  "游ゴシック体","Yu Gothic";
          color: rgba(255, 255, 255, 1);
          font-size: 16px;
          margin-bottom: 40px;
        }
        a.contact-button {
          font-family:  "游ゴシック体","Yu Gothic";
          background-color: #FF6200;
          color: #FFFFFF;
          padding: 17.35px 70px 16.65px 68px;
          &:hover{
          background-color: #ffffff;
          color: rgba(255, 98, 0, 1);
        }
          i{
            margin-left: 13px;
          }
        }
      }
    }
  }
}
footer {
  div.footer-wrap {
    height: 169px;
    display: flex;
    align-items: center;
      @media screen and(max-width:1215px){
        display: flex;
        justify-content: center;
      }
      div.company-logo {
      img {
        padding-left: 115px;
        @media screen and(max-width:1215px){
          padding: 0;
          margin-left: 30px;
          width: 90%;
        }
      }
      p {
        color: rgba(30, 45, 47, 1);
        margin-left: 75px;
        line-height: 24px;
        font-size: 14px;
        @media screen and(max-width:1215px){
          margin: 0;
        }
      }
    }
    nav {
      margin-left: 66px;
      width: 100%;
      margin-right: 115px;
      @media screen and (max-width:1215px){
        display: none;
      }
      ul {
        display: flex;
        justify-content: space-between;
        li {
          // margin-right: 40px;
          display: inline-block;
          a {
            color: rgba(30, 45, 47, 1);
          }
        }
      }
    }
  }
  div.copyright {
    border-top: 1px dotted #000;
    height: 33px;
    p {
      line-height: 33px;
      font-size: 12px;
      font-family: serif;
      font-weight: normal;
    }
  }
}