*{
  text-align: center;
  text-decoration: none;
  font-family: "游ゴシック体","Yu Gothic";
}
header {
	display: flex;
	justify-content: center;
	div.header-wrap {
		position: relative;
		z-index: 100;
		width: 1050px;
		margin: 0 auto;
		background-color: rgba(37, 52, 54, 0.9);
		height: 70px;
		display: flex;
		align-items: center;
		@media screen and (max-width:1050px){
			width: 100%;
			justify-content: center;
		}
		img {
			justify-content:flex-start;
			position: relative;
			top: -3px;
			margin-left: 20px;
			@media screen and (max-width:1050px){
				margin-left: 0;
				display: none;
			}
			@media screen and (max-width:770px){
				display: flex;
			}
		}
		nav {
			height: 100%;
      position: relative;
      left: 122px;
			@media screen and (max-width:1050px){
				// display: none;
				right: 0;
			}
			@media screen and (max-width:770px){
				display: none;
			}
			ul {
				li {
					display: inline-block;
					a {
						line-height: 70px;
						padding: 15px 0;
						color: #FFFFFF;
						text-decoration: none;
						margin-left: 25.31px;
						font-size: 14px;
					}
					.information-button{
						color: #008700; 
						&::after{
							content: "";
							position: absolute;
							left: 366px;
							bottom: 0;
							border-bottom: 10px solid #008700;
							width: 96px;
						}
					}
					.contact-button{
						background-color: rgba(255, 98, 0, 1);
						padding: 24px 30px 25px 25px;
						&:hover{
							background-color: #ffffff;
							color: rgba(255, 98, 0, 1);
						}
						i{
							margin-left: 12px;
						}
					}
				}
			}
		}
	}
}
main {
	div.top{
    position: relative;
    top: -70px;
    height: 300px;
    background-image: url("../images/配管BOX.png");
    background-size: cover;
    div.topBG{
      background-color: rgba(32, 48, 50, 0.5);
      height: 100%;
      div.top-wrap{
        h1{
          position: relative;
          top: 170px;
          font-size: 32px;
          font-weight: bold;
          line-height: 1.68;
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
	div.articles {
    height: auto;
		div.articles-wrap {
      width: 1055px;
      margin: 0 auto;
      @media screen and (max-width:1055px){
        width: 100%;
        height: auto;
      }
      div.article {
        // display: flex;
        height: 90.18px;
        border-bottom: 1px dotted #1E2D2F;
        margin-bottom: 31px;
        @media screen and (max-width:920px){
          width: 94%;
          height: 100px;
        }
        @media screen and (max-width:432px){
          width: 100%;
          height: auto;
        }
        p {
          text-align: left;
          font-size: 16px;
          color: #1E2D2F;
          line-height: 1.68;
          width: 281px;
					span {
            // margin-left: 16px;
            background-color: #008700;
            color: #FFFFFF;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.71;
            padding: 3px 28px 3px 28px;
            height: auto;
            width: 125px;
            margin-left: 15px;
          }
        }
        h2 {
          // align-self: center;
          text-align: left;
          position: relative;
          // left: 20px;
          // top: 13px;
          margin-top: 20px;
          padding-left: 13px;
          width: 1035px;
          height: 20px;
          @media screen and (max-width:1035px){
            width: 94%;
            height: auto;
          }
          a {
              color: #1E2D2F;
              font-weight: bold;
              font-size: 18px;
              line-height: 1.72;
            }
        }
			}
		}
		div.articles-index {
      margin-top: 67.82px;
      margin-bottom: 160px;
			ul {
        display: flex;
        justify-content: center;
				li {
					a.articles-index-pre {
            margin: 0 12px;
            color: #008700;
					}
					a.articles-index-1 {
            font-family: "Avenir Next";
            color: #253436;
            font-size: 14px;
            line-height: 1.35;
            margin: 0 12px;
					}
					a.articles-index-2 {
            font-family: "Avenir Next";
            color: #253436;
            font-size: 14px;
            line-height: 1.35;
            background-color: #008700;
            margin: 0 12px;
            color: #ffffff;
            border-radius: 100%;
            padding: 4px 8px 3px 8px;
					}
					a.articles-index-3 {
            font-family: "Avenir Next";
            color: #253436;
            font-size: 14px;
            line-height: 1.35;
            margin: 0 12px;
					}
					a.articles-index-4 {
            font-family: "Avenir Next";
            color: #253436;
            font-size: 14px;
            line-height: 1.35;
            margin: 0 12px;
					}
					a.articles-index-5 {
            font-family: "Avenir Next";
            color: #253436;
            font-size: 14px;
            line-height: 1.35;
            margin: 0 12px;
					}
					a.articles-index-next {
            margin: 0 12px;
            color: #008700;
					}
				}
			}
		}
	}
  div.contact {
    background-image: url("../images/フッターCTA_背景@.png");
    background-size: cover;
    width: 100%;
    display: flex;
    height: 312px;
    @media screen and (max-width:451px){
      height: 400px;
    }
    div.contactBG{
      background-color: rgba(29, 37, 41, 0.9);
      background-size: cover;
      width: 480px;
      height: 80%;
      margin: 0 auto;
      align-items: center;
      position: relative;
      top: 30px;
      @media screen and (max-width:480px){
        width: 100%;
      }
      display: flex;
      div.contact-wrap {
        height: auto;
        align-items: center;
        position: relative;
        // top: 32px;
        h2 {
          font-family:  "游ゴシック体","Yu Gothic";
          font-weight: bold;
          font-size: 24px;
          color: rgba(255, 255, 255, 1);
          @media screen and (max-width:362px){
            width: 70%;
            margin: 0 auto;
          }
        }
        p {
          line-height: 27px;
          width: 81.87%;
          margin: 0 auto;
          margin-top: 30px;
          margin-bottom: 30px;
          font-family:  "游ゴシック体","Yu Gothic";
          color: rgba(255, 255, 255, 1);
          font-size: 16px;
          margin-bottom: 40px;
        }
        a.contact-button {
          font-family:  "游ゴシック体","Yu Gothic";
          background-color: #FF6200;
          color: #FFFFFF;
          padding: 17.35px 70px 16.65px 68px;
          &:hover{
          background-color: #ffffff;
          color: rgba(255, 98, 0, 1);
        }
          i{
            margin-left: 13px;
          }
        }
      }
    }
  }
}
footer {
  div.footer-wrap {
    height: 169px;
    display: flex;
    align-items: center;
      @media screen and(max-width:1215px){
        display: flex;
        justify-content: center;
      }
      div.company-logo {
      img {
        padding-left: 115px;
        @media screen and(max-width:1215px){
          padding: 0;
          margin-left: 30px;
          width: 90%;
        }
      }
      p {
        color: rgba(30, 45, 47, 1);
        margin-left: 75px;
        line-height: 24px;
        font-size: 14px;
        @media screen and(max-width:1215px){
          margin: 0;
        }
      }
    }
    nav {
      margin-left: 66px;
      width: 100%;
      margin-right: 115px;
      @media screen and (max-width:1215px){
        display: none;
      }
      ul {
        display: flex;
        justify-content: space-between;
        li {
          // margin-right: 40px;
          display: inline-block;
          a {
            color: rgba(30, 45, 47, 1);
          }
        }
      }
    }
  }
  div.copyright {
    border-top: 1px dotted #000;
    height: 33px;
    p {
      line-height: 33px;
      font-size: 12px;
      font-family: serif;
      font-weight: normal;
    }
  }
}